@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  * {
    background-color: #161615;
    color: #f1f1f1;
  }

  .login:hover {
    color: #1f1f1f;
  }
} */